.card-quiz {
  border: solid black 1px;
  padding: 1em;
  text-align: left;
  background-color: #F0F0E0;

  .card-quiz-correctness-icon {
    display: none;
    float: right;
  }

  .card-quiz-correct-answer {
    display: none;
  }

  .card-quiz-rule {
    padding: 0.5em;
    font-size: 2em;
    width: 100%;
    margin-left: -16px;
    height: 1em;

    &.pink-rule {
      border-bottom: solid pink 4px;
    }

    &.blue-rule {
      border-bottom: solid blue 2px;
    }
  }

  &.card-quiz-current {
    width: 80%;
    margin-left: 15%;
  }

  &.card-quiz-previous {
    width: 74%;
    margin-left: 18%;
    margin-bottom: 0;
    // TODO shadow the bottom of the box
    // so it looks like it's behind the current card

    .card-quiz-submitted-answer {
      display: none;
    }

    .card-quiz-correct-answer {
      display: inline-block;
    }

    &.correct {
      .card-quiz-correct-icon {
        display: inline-block;
      }
    }

    &.incorrect {
      .card-quiz-incorrect-icon {
        display: inline-block;
      }

      .card-quiz-correct-answer {
        float: right;
        clear: both;
      }

    }
  }

  &.card-quiz-hidden {
    display: none;
  }
}

.cards-index {
  // TODO style study mode
}
