- if @games && @games.any?
  %table.games-index
    %tr.games-index-header-row
      %th Deck
      %th Last Played At
      %th Mastery Level
      %th Study
      %th Due to repeat?
    - @games.each do |game|
      = haml :'games/_row', locals: { game: game }, layout: false
- else
  %p.no-games-message Ya got no games son
