%form#game-show{ action: "/games/#{@game.id}", method: 'POST' }
  %input{ type: 'hidden', name: '_method', value: 'PUT' }
  #game-timer.game-timer
  - @cards.each do |card|
    = haml :'cards/_quiz', locals: { card: card }, layout: false
  %button#next-question-button{ data: { next_question: true } } Go On
  %input#conclude-game-button{ type: 'submit', value: 'Complete game' }
