%form.game-show{ action: "/games/#{@game.id}", method: 'POST' }
  %input{ type: 'hidden', name: '_method', value: 'PUT' }
  - @cards.each do |card|
    = haml :'guesses/_guess_details', locals: { card: card }, layout: false
