.card-quiz
  = "Question: #{card.question}"
  %input{ name: "cards[#{card.id}][answer]", placeholder: 'Your answer:' }
  %button.next-question-button{ value: 'Next Question', data_next_question: true }
