.card-quiz.card-quiz-hidden
  .card-quiz-rule.pink-rule
    %span.card-quiz-question= card.question
    %span.card-quiz-correctness-icon.card-quiz-correct-icon YES
    %span.card-quiz-correctness-icon.card-quiz-incorrect-icon NO
  .card-quiz-rule.blue-rule
    %input{ type: 'hidden', name: "#{card.question.split(' ').join('-')}-decoy" }
    %input.card-quiz-submitted-answer{ data: { card_id: card.id }, autocomplete: 'off', name: "cards[#{card.id}][answer]", placeholder: 'Answer' }
    %span.card-quiz-incorrect-answer-bucket
    %span.card-quiz-correct-answer= card.answer
