.card-quiz{ data: { answer: card.answer } }
  %p.card-quiz-question-statment Question:
  %span.card-quiz-question= card.question
  %input.card-quiz-answer{ name: "cards[#{card.id}][answer]", placeholder: 'Your answer:' }
