- if @decks && @decks.any?
  %table.decks-index
    %tr.decks-index-header-row
      %th Name
      %th Due to repeat?
      %th Study
      %th Creator actions

    - @decks.each do |deck|
      = haml :'decks/_details', locals: { deck: deck }, layout: false

- else
  %p.no-decks-message Doesn't look like there are any decks
